<%- include('partials/header'); -%>
 
<div class="box" id="heading">
    <h3>About Page</h3>
    
</div>

<div class="box">
    <p>This page tells us about this site.</p>
    <p><%=someText%> </p>
</div>
    
<%- include('partials/footer'); -%>